* {
  box-sizing: border-box;
  }

.homepage {
  margin-top: 300px;
}

.block {
  display: inline-block;
}

.start-button {
  width: 100%;
}

.hidden {
  display: none;
}

.centered-text {
  text-align:center;
}

 .current-game{
   height: 100%;
   width: 100%;
 }

.left-corner {
  width: 23%;
  height: 100%;
  float: left;
  
}

.main-content {
  width: 50%;
  height: 100%;
}

.right-corner {
  width: 23%;
  height: 100%;
  float: right;
}

main {
  height: 1000px;;
  width: 100%;
}

.flag-1 {
  height: 25%;
}

.flag-2 {
  height: 25%;
}

.flag-1 img{
  width: 100%;
}

.flag-2 img{
  width: 100%;
}