/*Design for the app*/
* {
  box-sizing: border-box;  
  }
  
html {
  background: whitesmoke;
  }  

  .branding-image {
    display: inline;
    font-size: 30px;
    padding: 5px;
    text-align: left;
  }


  .welcome{
    float: none;
  }

  .small-pixel{
    font-size: 1px;
  }


h1, p, legend, h2, h3 {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
  }

  .main p, .main legend, .main h2, .main h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
  }




header {
    background-image: url('https://wys-swysc.sportsaffinity.com/mbrsite/showsiteimage.aspx?imageguid=EDCAE92A-919A-4C1B-9050-B3E416155EB3');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.form-main {
    margin-bottom: 100px;
  }

  p {
    font-size: 18px;
  }


  button {
    margin-bottom: 20px;
    height: 50px;
    color: black;
    background-color: rgb(50, 255, 100);
    font-family: 'Aldrich', sans-serif;;
  }

  button {
    font-size: 20px;
  }

  legend {
    color: whitesmoke;
    text-align: left;
    font-size: 25px;
    background-image: url('https://wys-swysc.sportsaffinity.com/mbrsite/showsiteimage.aspx?imageguid=EDCAE92A-919A-4C1B-9050-B3E416155EB3') ;
  }

  .list-of-teams-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

 @media only screen and (min-width: 550px){ 
   
   .new-list-item {
    flex-basis: 23.5%;
  }

 }

 @media only screen and (max-width: 550px){ 
   
   .new-list-item {
    flex-basis: 31%;
  }

 }

 @media only screen and (max-width: 375px){ 
   
   .new-list-item {
    flex-basis: 47%;
  }

 }

  .new-list-item p {
    font-size: 20px;

  }



  .list-page-title {
    width: 100%;
    text-align: center;
  }




  @media only screen and (max-width: 700px){
    h1 {
      font-size: 25px;
    }


    #textfield {
      height: 50px;
      width: 60%;
    }

    .textfield-button{
      width: 40%;
    }




  }

  @media only screen and (min-width: 700px){

   .home-left {
    margin-left: 16.67%;
   }

   .home-left, .home-right {
    margin-top: 50px;
    margin-bottom: 125px;
    }

    .centered-element {
      margin-left: 25%;
    }

    .back-button{
    width: 25%;
    }

    #textfield {
    height: 50px;    
    width: 75%;
    }

   .textfield-button {
    width: 25%;
    }

  }


  .block {
  display: inline-block;
  }

  .start-button {
  width: 100%;
  }

  .hidden {
  display: none;
  }

  .centered-text {
  text-align:center;
  }

  .no-overflow {
  overflow-x: hidden;
  }

  main {
  height: 1000px;;
  width: 100%;
  margin-top: 100px;
  }

 .current-game{
   height: 100%;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
  }


  .left-corner {
  flex: 1;
  }

  .main-content {
  flex: 2;
  }


  .right-corner {
  flex: 1;
  }

   @media only screen and (max-width: 650px){

    .main-content {
     order: 1;
     flex-basis: 100%;
     margin-bottom: 100px;
    }
    
    .left-corner {
      order: 2;
      flex-basis: 100%;
      margin-bottom: 100px;
    }

    .right-corner {
      order: 3;
      flex-basis: 100%;
    }
    
    .flag-1 img {
      width: 50%;
    }

    .flag-2 img {
      width: 50%;
    }
  }

   @media only screen and (min-width: 650px){
     .flag-1 img {
       width: 100%;
     }

     .flag-2 img {
       width: 100%;
     }
   }

  



  .flag-1 {
  height: 25%;
  text-align: center;
  }

  .flag-2 {
  height: 25%;
  text-align: center;
  }

  .flag-1 img{
  height:75%;
  }

  .flag-2 img{
  height: 75%;
  }

  .soccer-ball{
  height: 75px;
  width: 100px;
  }

  .soccer-ball-bad{
  height:75px;
  width: 100px;
  }

  .penalty-kick{
  height: 75px;
  width: 100px;
  }

  iframe {
  width: 95%;
  height: 400px;
  }

  chooser-form {
  margin-left: auto;
  margin-right: auto; 
  }

  .answerOption {
  margin: 20px;
  border: solid, black, 5px;
  }

  input {
  float: left;
  }

  .guide {
    display: flex;
    justify-content: space-between;
  }

  .item soccer-ball, .item soccer-ball-bad, .item penalty-kick {
    width: 75px;
  }

  .choice-options {
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
  }

  /* when you come back wednesday august 1, fix the legend under video at very small screens

  