* {
  box-sizing: border-box;
  }

  ul {
    list-style-type: none;
    padding: 0px;
  }

  button {
    margin-bottom: 20px;
  }

  #textfield {
    width: 80%;
  }

  .textfield-button {
    width: 20%;
  }

  .back-button{
    width: 25%;
  }

.block {
  display: inline-block;
}

.start-button {
  width: 100%;
}

.hidden {
  display: none;
}

.centered-text {
  text-align:center;
}

 .current-game{
   height: 100%;
   width: 100%;
 }


.left-corner {
  width: 23%;
  height: 100%;
  float: left;
  
}

.main-content {
  width: 50%;
  margin-right: 2%;
  margin-left: 2%;
}

.right-corner {
  width: 23%;
  height: 100%;
  float: right;
}

main {
  height: 1000px;;
  width: 100%;
}

.flag-1 {
  height: 25%;
}

.flag-2 {
  height: 25%;
}

.flag-1 img{
  width: 100%;
}

.flag-2 img{
  width: 100%;
}

iframe {
  width: 100%;
}

chooser-form {
  margin-left: auto;
  margin-right: auto;
}

.answerOption {
  margin: 20px;
  border: solid, black, 5px;
}

input {
  float: left;
}